.form {
  margin: auto;
  text-align: center;
  width: 300px;
}
.forms {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  padding: 3rem;
  border: 3px solid rgb(39, 39, 39);
  color: rgb(3, 3, 3);
  box-shadow: 2px 2px 5px rgba(32, 32, 32, 0.575);
}

.footer {
  display: flex;
  padding: 0.5rem;
  background-color: ivory;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
}

.link {
  color: rgb(27, 27, 27);
}

.link:hover {
  color: rgb(107, 107, 107);
}

.homeLink {
  color: black;
  display: inline-block;
  margin: 1rem 0 0 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  width: 12rem;
  background: ivory;
}
